/* Add new plant button style - VJ */
#addBtn {
  font-family: Courier New;
  font-size: 18px;
  text-align: center;
  color: white;
  background-color: rgb(71, 85, 85);
  padding: 10px 25px;
  border-radius: 8px 8px;
  cursor: pointer;
}

/* Start of Add New Plant form style - VJ */
#form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#new-plant {
  display: none;
  border-color: rgb(71, 85, 85);
  border-width: 3px;
  border-style: solid;
  border-radius: 8px 8px;
  width: 60%;
  padding: 10px;
  margin: 10px;
  font-family: Courier New;
  color: rgb(71, 85, 85);
  line-height: 25px;
}

form h3 {
  text-align: center;
  font-weight: bold;
}

input[type="text"] {
  width: 200px;
}

input[type="text"]#new-description {
  width: 90%;
  height: 100px;
}

textarea {
  width: 90%;
  max-width: 100%;
  height: 200px;
  resize: auto;
}

input[type="submit"] {
  font-size: 18px;
  text-align: center;
  color: white;
  background-color: rgb(71, 85, 85);
  padding: 10px 25px;
  border-radius: 8px 8px;
  cursor: pointer;
}
/* End of Add New Plant form style - VJ */

.card {
  background-color: #b7e4c7;
  background-image: var(--bs-gradient);
}

#plant-name {
  color: #250902;
}

#favorite-container {
  display: flex;
  overflow-x: auto;
  text-align: center;
  margin: 10px;
  width: auto;
  justify-content: center;
  background-color: rgb(71, 85, 85);
  border-radius: 8px 8px;
}

#favorite-container img {
  display: flex;
  height: 200px;
  padding: 20px;
  text-align: center;
}

#fave-placeholder {
  display: visible;
}

#fave-caption {
  font-family: Courier New;
  color: white;
}

/* Start of plant list style - VJ */
#plant-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 10px;
  border-color: rgb(71, 85, 85);
  border-width: 3px;
  border-style: solid;
  border-radius: 8px 8px;
}

#plant-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#plant-list-header {
  font-family: Courier New;
  font-weight: bold;
  font-size: 60px;
  color: rgb(71, 85, 85);
}

/* Each plant div has a styled class and a hover styled class that is added with an event mouseover and removed with mouseleave -VJ */
.list-style {
  font-family: Courier New;
  font-size: 36px;
  color: rgb(71, 85, 85);
}

.list-style-hover {
  font-family: Courier New;
  font-weight: bold;
  font-size: 48px;
  color: rgb(71, 85, 85);
  cursor: pointer;
}
/* End of plant list style - VJ */
