form {
  border: solid;
  padding: 10px;
  width: 60%;
  font-family: georgia;
  line-height: 25px;
}

input[type="text"] {
  width: 200px;
}

input[type="text"]#new-description {
  width: 90%;
  height: 100px;
}

textarea {
  width: 90%;
  max-width: 100%;
  height: 200px;
  resize: auto;
}

.card {
  background-color: #b7e4c7;
  background-image: var(--bs-gradient);
}

#plant-name {
  color: #250902;
}

#favorite-container {
  display: flex;
  overflow-x: auto;
  text-align: center;
  margin: 10px;
  width: auto;
  justify-content: center;
  background-color: rgb(71, 85, 85);
  border-radius: 8px 8px;
}

#favorite-container img {
  display: flex;
  height: 200px;
  padding: 20px;
  text-align: center;
}

/* Plant list style - VJ */

#plant-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 10px;
  border-color: rgb(71, 85, 85);
  border-width: 3px;
  border-style: solid;
  border-radius: 8px 8px;
}

#plant-list-header {
  font-family: Courier New;
  font-weight: bold;
  font-size: 60px;
  color: rgb(71, 85, 85);
}

.list-style {
  font-family: Courier New;
  font-size: 36px;
  color: rgb(71, 85, 85);
}

.list-style-hover {
  font-family: Courier New;
  font-weight: bold;
  font-size: 48px;
  color: rgb(71, 85, 85);
}

#fave-placeholder {
  display: visible;
}

#fave-caption {
  color: white;
}

#new-plant {
  display: none;
}

#form-container {
  display: flex;
}

#addBtn {
  margin: 10px;
}
